.h5
*.xml
*.out
*.png
/linac
openmc/.ipynb_checkpoints/
unfiltered/CellRSHS
.vscode
rshs/CellRSHS/output.txt
2simulasi/Kalibrasi/layer.py
2simulasi/Kalibrasi/output.txt
unfiltered/
openmcTest/
1metodeAnalitik/Analitik.txt
2simulasi/Kalibrasi/endfb-vii.1-hdf5/
2simulasi/Kalibrasi/serverResult/statepoint.10.h5
2simulasi/Kalibrasi/statepoint.10.h5
2simulasi/Kalibrasi/summary.h5
1metodeAnalitik/Hasil3AnalitikPintu.txt
2simulasi/Kalibrasi/others/endfb-vii.1-hdf5/
Hasil3AnalitikPintu.txt
2simulasi/CellRSHS/0degree/
2simulasi/CellRSHS/180degree/
2simulasi/CellRSHS/270degree/statepoint.5.h5
2simulasi/CellRSHS/270degree/summary.h5
2simulasi/CellRSHS/90degree/
2simulasi/CellRSHS/output.txt
2simulasi/CellRSHS/statepoint.10000.h5
2simulasi/CellRSHS/statepoint.5.h5
2simulasi/CellRSHS/summary.h5
2simulasi/Kalibrasi/doseplot.py
2simulasi/Kalibrasi/serverResult/Callibration/3detectorDoseResult.py
2simulasi/Kalibrasi/serverResult/Callibration/doseplotcell.py
2simulasi/Kalibrasi/serverResult/Callibration/output.txt
2simulasi/Kalibrasi/statepoint.5.h5
summary.h5
2simulasi/Kalibrasi/Old Callibration/output.txt
2simulasi/Kalibrasi/Kalibrasi-Simpel/statepoint.5.h5
2simulasi/Kalibrasi/Kalibrasi-Simpel/Newfile
