*.h5
*.xml
*.out
*.png
/linac
openmc/.ipynb_checkpoints/
unfiltered/CellRSHS
.vscode
rshs/CellRSHS/output.txt
2simulasi/Default/
2simulasi/Kalibrasi/layer.py
2simulasi/Kalibrasi/output.txt
unfiltered/
openmcTest/