<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>500000</particles>
  <batches>11</batches>
  <inactive>1</inactive>
  <source particle="photon" strength="1.0" type="independent">
    <space type="point">
      <parameters>-5.494330303544771 -44.5 -119.35928799678784</parameters>
    </space>
    <angle reference_uvw="-1.0 0.0 0.0" type="mu-phi">
      <mu parameters="0.989 1.0" type="uniform"/>
      <phi parameters="0.0 6.283185307179586" type="uniform"/>
    </angle>
    <energy type="discrete">
      <parameters>10000000.0 1.0</parameters>
    </energy>
  </source>
  <photon_transport>true</photon_transport>
</settings>
